<section id="hero">
  <h1><span id="cheljoh-text">cheljoh</span></h1> <br />
  <a href="#">
    <div id="about-button" class="text-box">about</div><br />
  </a>
  <a href="/assets/CjohnsonResume.pdf" download="cjohnsonresume">
    <div class="text-box">resume</div><br />
  </a>
</section>

<div id="about-content">
  <div class="container center-align">
    <%= image_tag("headshot.jpg", id: "headshot") %>
    <p> My name is Chelsea Johnson, and I am a full-stack web developer. <br>
        I specialize in Rails and several JavaScript frameworks. I enjoy gaming and outdoor adventures.
    </p>
  </div>
  <a href="#">
    <div id="hide-about" class="text-box">Hide</div><br />
  </a>
</div>

<div id="resume">
  <div class="container">
    <div class="row">
      <div class="col s6">
        <h5> EDUCATION</h5>
        <p> Turing School of Software and Design
            Certificate in Web Application Development with Ruby, Rails and JavaScript
            June 2016 <br />
            University of Nebraska – Omaha <br />
            Master of Science – Speech­Language Pathology May 2013 <br />
            GPA – 3.93 <br />
            University of Nebraska – Omaha Bachelor of Science – Education December 2010 <br />
            GPA – 3.99 <br />
        </p>
      </div>
      <div class="col s6">
        <h5> SUMMARY</h5>
        <p> I am an optimistic, hard­working speech­-language pathologist turned web­developer. <br />
          My greatest joy when working on a project is brainstorming grand ideas and making them happen. <br />
          As a result of my previous work experience, I am able to recognize patterns, engage in critical thinking, and collaborate with professionals and clients. I am looking for a team that challenges me and provides opportunities to explore new technologies.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <h5 class="center-align"> CODE</h5>
        <p>
          <b>Purrrsonality Test</b> <br />
          Created a personality test API to serve Five Factor Personality Test questions, score responses, and send results. Consumed API in a separate Rails application which pairs users with a famous internet cat. The app relies on jQuery/AJAX/JavaScript for most functionality. <br /> <br />
          <%= image_tag("quiz-questions.png") %>
          <%= link_to "Demo", "https://purrrsonalitytest.herokuapp.com" %> <br />
          <%= link_to "App Code", "http://github.com/cheljoh/purrrsonalitytest" %> <br />
          <%= link_to "API Code", "http://github.com/cheljoh/personalitytest" %> <br />

          <b>Feline Friends­y</b><br />
          E­commerce Rails app produced in a team setting that allows users to rent fictional cats. <br /> <br />
          <%= image_tag("feline-friendsy-pic.png") %>
          <%= link_to "Demo", "https://felinefriendsy.herokuapp.com" %> <br />
          <%= link_to "Code", "http://github.com/cheljoh/feline_friendsy" %> <br />

          <b>GO GO NYAN CAT</b><br />
          Engaging game built with JavaScript, jQuery, and HTML5 Canvas. Tested with Mocha and Chai. <br /><br />
          <%= image_tag("nyan-screenshot.png") %>
          <%= link_to "Play the game!", "http://github.com/cheljoh/gametime" %>
          ­ Source: github.com/cheljoh/game­time
          ­ Demo: cheljoh.github.io/game­time
        </p>
      </div>
    </div>
  </div>
  <a href="#">
    <div id="hide-about" class="text-box">Hide</div><br />
  </a>
</div>
